@charset "utf-8";

#pageHeader {
    background-color: aliceblue;
}

#pageHeaderH1 {
    border-bottom: 2px blue solid;
}

#pageHeader h1 {
    border-bottom: 2px blue solid;
}

#pageHeaderContent {
    text-align: center;
}

#pageHeader p {
    text-align: center;
}

article > h1 {
    text-align: center;
}

.redText {
    color: red;
}

.font18 {
    font-size: 18pt;
}

#sectionHeader + p {
    color: red
}

#sectionHeader ~ p {
    background-color: yellow;
}

a:hover {
    color: red;
}

p::first-line {
    color: blue;
}

ul > li {
    list-style: square;   
}

ul ol li {
    list-style: lower-roman;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

.colBgDarkgrey {
    background-color: darkgray;
}